*~
.DS_Store
*.xml
*.idea/*
.idea*
*.vscode/*
*__pycache__/*
logs/
trained_models/
*egg-info
dist/
archive/
build/
.pytest_cache/
test_reports/
*.code-workspace
docker/resources/SC*.zip
*.ipynb_checkpoints/
